<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add New Offer</h2>
                <form action="/admin/add-product" enctype="multipart/form-data" method="post">
                    <label for="">Product</label>
                    <input type="text" name="Product" class="form-control" >
                     <label for="">Starting Date</label>
                    <input type="text" name="Starting" class="form-control" >
                     <label for="">Ending Date</label>
                    <input type="text" name="Expiry" class="form-control" >
                     <label for="">Offer Percentage</label>
                    <input type="text" name=" proOfferPercentage" class="form-control" >
                    
                    <button type="submit" class="btn btn-success mt-4 " >Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>