<div class="row">
    <div class="col-lg-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Admin Login</h2>

            <form action="/admin/admin-login" method="post" id="form">
            {{#if loginErr}}
         <p class="error text-danger text-center">{{loginErr}}</p>
            {{/if}}
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="Email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
    
  </div>
  <div>
    <p class="text-danger" id="errorEmail"></p>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="Password" id="password" placeholder="Password" required>
  </div>
  <div>
    <p class="text-danger" id="errorPassword"></p>
  </div>
  {{!-- <div>
  <a href="/signup">Create new account ?</a>
</div> --}}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
        </div>
    </div>
</div>
