<header>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin/"><h2 class="text-warning">Admin Panel</h2></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mob-navbar" aria-label="Toggle">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mob-navbar">
                <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
                    {{#if user}}
                    
                    <li class="nav-item ">
                        <a class="nav-link active" aria-current="page" href="/admin/logout">Logout</a>
                    </li>
                    
                    <li class="nav-item ms-5 ">
                        <a class="nav-link active" href="/admin/view-products">Products</a>
                    </li>
                   
                    <li class="nav-item ms-5">
                        <a class="nav-link active" href="/admin/orderss">Orders</a>
                    </li>
                      <li class="nav-item ms-5">
                        <a class="nav-link active" href="/admin/view-category">Categories</a>
                    </li>
                   
                    <li class="nav-item ms-5">
                        <a class="nav-link active" href="/admin/view-users">All users</a>
                    </li>
                     <li class="nav-item ms-5">
                        <a class="nav-link active" href="/admin/category-offers">Category Offers</a>
                    </li>
                      <li class="nav-item ms-5">
                        <a class="nav-link active" href="/admin/report">Report</a>
                    </li>
                    {{/if}}
                </ul>
                {{!-- <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
                   
                    <button class="btn btn-outline-warning " type="submit">Search</button>
                </form> --}}
                
            </div>
        </div>
    </nav>

</header>